/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda di bawah */
.header {
  background-color: #C6CDC0;
  color: #0E312F;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list {
  float: right;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.container {
  
  height: 350px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  width: 100%;
  background-color: #06524B;
  background-size: cover;
  color: white;
  text-align: center;
  
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.pp{
  width: 150px;
  height: 200px;
  margin-bottom: 20px;
}

.lesson-wrapper {
  height: 1400px;
  padding-bottom: 50px;
  background-color: #629A8D;
  margin: 0 auto;
  width: 100%;
}

.contents h2 {
  color: white;
  font-size: 25px;
  padding-top: 30px;
  opacity: 0.7;
}

.contents h3 {
  font-size: 18px;
  color: #C6CDC0;
  padding-top: 5px;
  opacity: 0.8;
}

.contents p{
  opacity: 1.1;
}








.footer {
  padding: 15px 0 10px 0;
  height: 350px;
  width: 100%;
  background-color: #3c4341;
  background-size: cover;
  color: white;
}

.footer h1 {
  font-size: 30px;
  margin: 15px;
}


.linkedin {
  background-color: #3b5998;
  margin: 10px 20px;
}

.email {
  background-color: #c31d1d;
  margin: 10px 20px;
}

.whatsapp {
  background-color:  #239b76;
  margin: 10px 20px;
}

.instagram {
  background-color: #9b236d;
  margin: 10px 20px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}